* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #1F2937;
    color: white;
}

.links {
    display: flex;
    padding-right: 150px;
    gap: 18px;
}

.logo {
    padding-left: 150px;
    font-size: 24px;
    font-weight: 700;
}

.header2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 350px;
}

.header2 {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    max-width: 600px;
    padding-left: 150px;
}

.intro-heading {
    font-size: 38px;
    font-weight: 700;
}

button {
    width: 50px;
    height: 20px;
}

.header2-image {
    display: flex;
    align-items: center;
    padding-right: 150px;
}

.info-title {
    text-align: center;
    padding: 50px 0 24px 0;
    font-size: 36px;
    font-weight: 700;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
    padding: 30px;
}

.img-header {
    display: flex;
    padding-right: 150px;
    width: auto;
    height: 250px;
}

.image {
    padding-bottom: 10px;
    width: 150px;
    height: 150px;
}

.text {
    color: rgb(105, 105, 105);
    font-size: 14px;
    text-align: center;
}

.quote-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    height: 400px;
    padding-left: 250px;
    padding-right: 250px;
    gap: 10px;
}

.quote {
    flex-wrap: wrap;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    min-height: 0;
}

.credit {
    font-size: 28px;
    font-weight: 700;
    text-align: end;
}

.signup-container {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.signup-box {
    display: flex;
    background-color: #3882F6;
    justify-content: space-evenly;
    height: 150px;
    width: 1000px;
    border-radius: 10px;
}

.signup-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.signup-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #1F2937;
    color: white;
}